body{
    margin: 0;
    padding: 0;
}
h1{
    padding: 2px;
    margin-top: 3px;
}
.landing{
    background-color: rgb(255, 145, 0);
    color: black;
    padding: 40px;
    border-bottom: 3px solid black;
}
.menu a{
    padding: 5px 10px;
    margin-right: 10px;
    border: 2px solid black;
}
.hero {
  margin: 40px;
  padding: 0px;              
  border: 3px solid #ccc;     
}

.hero-content {
  height: 220px;
  background-image: url("pinterestfon2.jpg");
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}
.features {
  margin: 40px;
  padding: 30px;
  border: 2px solid #ccc;
  background-color: #fff;
}

.features h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.features ul {
  padding-left: 15px;
}

.features li {
  margin-bottom: 5px;
  padding: 8px;

  border: 1px dashed #999;
}.prices {
  margin: 40px;
  padding: 30px;
  border: 2px solid #aaa;
  background-color: #fff;
}

.prices h2 {
  margin-bottom: 20px;
}
.prices table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
}

.prices th,
.prices td {
  border: 1px solid #555;
  padding: 12px;
  text-align: left;
}

.prices th {
  font-weight: bold;
}
.contact {
  margin: 40px;
  padding: 30px;
  border: 2px solid orange;
  background-color: #fff;
}

.contact h2 {
  margin-bottom: 20px;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 12px;
  border: 1px solid #999;
}

.contact textarea {
  min-height: 10px;
}
.contact button {
  width: 200px;
  padding: 10px 20px;
  border: 2px solid orange;
  background-color: white;
}
.footer {
  padding: 20px;
  border-top: 2px solid #2c2b2b;
  text-align: center;
  background-color: #f7f0f0;;
}




