h1{
    background: #00796b
; color: white;
}
body{
    background-color: #d9efed;
}
p{
    color: #00796b;
}
h2{
    color: #00796b;
}
thead{
    background-color: #00796b; color: white;
}
form{
    background-color: white;
    color: #00796b;
}