body {
  font-family: "Nunito", sans-serif;
}
#hero {
  background-color: #bb2339;
  color: #fff;
  padding: 70px 0;
  .hero_content {
    display: flex;
    justify-content: space-between;
    .hero_infos {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .hero_mini-title {
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        letter-spacing: 4%;
        text-transform: capitalize;
      }
      h1 {
        font-weight: 700;
        font-size: 90px;
        line-height: 130%;
        letter-spacing: 4%;
        text-transform: capitalize;
      }
      .hero_content-desc {
        font-family: Open Sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 4%;
      }
      button {
        border: 1px solid #ffffff;
        background-color: #bb2339;
        color: #fff;
        padding: 12px 18px;
        border-radius: 28px;
      }
    }
    img {
      width: 50%;
    }
  }
  @media (max-width: 787px) {
    .hero_content {
      display: block;
      img {
        width: 100%;
      }
    }
  }
}

#popular {
  background-color: #f8f8f8;
  padding-bottom: 120px;
  h1 {
    color: #bb2339;
    padding: 90px 0 30px 0;
  }
  .popular_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .popular_card {
      background-color: #fff;
      border-radius: 14px;
      max-width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      text-align: center;
      .popular_card-price {
        color: #bb2339;
      }
    }
  }
  @media (max-width: 1070px) {
    .popular_cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      .popular_card {
        max-width: none;
      }
    }
  }
  @media (max-width: 605px) {
    .popular_cards {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
      .popular_card {
        max-width: none;
      }
    }
  }
}

#regular {
  .regular_nav-items {
    padding: 40px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 9px;
    .regular_nav-item:first-child {
      background-color: #bb2339;
      color: #fff;
    }
    .regular_nav-item {
      border: 1px #bb2339 solid;
      border-radius: 18px;
      padding: 6px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 954px) {
    .regular_nav-items {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media (max-width: 600px) {
    .regular_nav-items {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .regular_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    .regular_card {
      padding: 40px 20px;
      border: 1px solid #2424241a;
      border-radius: 14px;
      text-align: center;
      img {
        width: 100%;
      }
      .regular_card-price {
        color: #bb2339;
      }
    }
  }
  @media (max-width: 925px) {
    .regular_cards {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }

  @media (max-width: 775px) {
    .regular_cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
  }

  @media (max-width: 525px) {
    .regular_cards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }
}

#reviews {
  background-color: #f4f4f4;
  padding-bottom: 120px;

  .reviews_mini-title {
    padding-top: 70px;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 4%;
    text-transform: capitalize;
    text-align: center;
  }

  .reviews_title {
    padding: 10px 0 80px 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 3%;
    text-transform: capitalize;
    text-align: center;
  }
  .review_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .review_card {
      border-radius: 10px;
      padding: 15px;
      background-color: #fff;
      p {
        padding: 25px 0;
      }
    }
  }
  @media (max-width: 900px) {
    .review_cards {
      grid-template-columns: repeat(2, 1fr);
      .review_card:last-child {
        grid-column: 1 / 3;
      }
    }
  }
  @media (max-width: 550px) {
    .review_cards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      .review_card {
        grid-column: 1;
      }
    }
  }
}

#news {
  .news_mini-title {
    text-align: center;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 4%;
    text-transform: capitalize;
    margin: 100px 0 20px 0;
  }

  .news_title {
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 3%;
    text-transform: capitalize;
    color: #bb2339;
    margin-bottom: 40px;
  }

  .news_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .news_card {
      img {
        width: 100%;
      }
      border: 1px solid #2424241a;
      border-radius: 14px;
      button {
        background-color: #fff;
        border: none;
        color: #bb2339;
        font-weight: 700;
      }
    }
  }
  @media (max-width: 880px) {
    .news_cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 550px) {
    .news_cards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

.video {
  width: 100%;
  height: 100vh;
}

#gallery {
  background-color: #f4f4f4;
  .gallery_content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
    .gallery_text {
        h1 {
            font-weight: 500;
            font-size: 48px;
            line-height: 130%;
            letter-spacing: 3%;
            text-transform: capitalize;
        }
        p {
            color: #aaaaaa;
        }
        display: flex;
        flex-direction: column;
        gap: 20px;
        button {
            max-width: 149px;
            padding: 10px 20px;
            border-radius: 24px;
            border: none;
            border: 2px #bb2339 solid;
        }
    }
    .gallery_imgs {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      img{
        width: 100%;
      }
    }
  }
  @media (max-width:1085px) {
    .gallery_content{
        display: block;
        .gallery_imgs{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;
            img{
                width: 80%;
            }
        }
    }

  }

  @media (max-width:600px) {
    .gallery_content{
        display: block;
        .gallery_imgs{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 30px;
        }
    }

  }
}

#newssteller{
  .newsletter_content{
    border: 1px solid #FFFFFF66;
    box-shadow: 22px 30px 95px 1px #56565633;
    background-color: #BB2339;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 100px;
    border-radius: 14px;
    transform: translateY(140px);
    .newsletter_email{
      background-color: #BB2339;
      border: none;
      border: 1px solid #F5EFDB80;
      padding: 15px 300px 15px 10px;
    }
    .newsletter_btn{
      padding: 15px 40px;
      background-color: #BB2339;
      border: none;
      border: 1px solid #ffF;
      color: #ffF;
    }
  }
}