* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-image: url("../images/Rectangle 10.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar ul {
  margin-left: 60px;
  list-style-type: none;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.navbar ul li {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
}
.navbar ul li:hover {
  color: #e9bd8c;
}
@media (max-width: 505px) {
  .navbar ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.header__text {
  padding-top: 120px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__text p {
  color: #e9bd8c;
  font-weight: 600;
  font-size: 24px;
}
.header__text h1 {
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 74px;
}
.header__text button {
  font-weight: 600;
  font-size: 24px;
  background-color: #933c24;
  border: none;
  border-radius: 8px;
  color: #fff;
  max-width: 194px;
  padding: 20px 0;
}

.hero__title {
  font-weight: 600;
  font-size: 64px;
  text-align: center;
}

.hero__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hero__cards .hero__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  max-width: 350px;
  background-image: url("../images/Rectangle 69.svg");
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.hero__cards .hero__card p {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  max-width: 40px;
  padding-right: 270px;
}
.hero__cards .hero__card .card-mini-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 15px;
  margin-top: 55px;
}
.hero__cards .hero__card button {
  background-color: #933c24;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 24px;
  margin-top: 15px;
}

@media (max-width: 1080px) {
  .hero__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 735px) {
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
  }
}
#sell {
  background-image: url(../images/Rectangle\ 45.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
#sell .sell__content {
  padding: 100px 0;
}
#sell .sell__content h1 {
  font-family: Sansita Swashed;
  font-weight: 500;
  font-style: Medium;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #933c24;
}
#sell .sell__content p {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #5d5d5d;
  padding: 30px 0;
}
#sell .sell__content button {
  opacity: 1;
  border-radius: 10px;
  padding-top: 23px;
  padding-right: 35px;
  padding-bottom: 23px;
  padding-left: 35px;
  gap: 10px;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  background-color: #933c24;
  color: #fff;
  border: none;
}

#more h1 {
  font-family: Sansita Swashed;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
#more ul {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */